<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Formulario</title>
  </head>
  <body>
    <div class="content" id="app">
      <div
        class="modal fade"
        id="modalWelcome"
        tabindex="-1"
        role="dialog"
        aria-labelledby="welcomeModalTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" style="text-align: center">
              <!-- <h4 class="modal-title" id="welcomeModalTitle">
                ALGO DIFERENTE ESTÁ NACIENDO EN
                <span style="color: #f08218;"><strong>SORITOR</strong></span>
              </h4> -->
              <h4 class="modal-title" id="welcomeModalTitle">
                <span style="color: #2b2f92"
                  ><strong>{{config.phrase}}</strong></span
                >
              </h4>
              <!-- <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body" style="text-align: center">
              <video
                ref="videoRef"
                src=""
                id="video-welcome"
                width="65%"
                controls
                align="center"
              ></video>
            </div>
            <div class="modal-footer">
              <!-- <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button> -->
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                style="background: #65170b"
                @click="closeModalWelcome()"
              >
                REGISTRARTE
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row align-items-stretch justify-content-center no-gutters">
          <div class="col-md-7">
            <div class="form h-100 contact-wrap p-5">
              <div style="text-align: center; margin-bottom: 15px">
                <img
                  :src="config.logo || 'images/logo.png'"
                  alt="logo"
                  width="200"
                />
              </div>
              <h3 class="text-center">
                <span style="color: #2b2f92"
                  ><strong>{{config.phrase}}</strong></span
                >
              </h3>
              <!-- <h3 class="text-center">
                ALGO DIFERENTE ESTÁ NACIENDO EN
                <span style="color: #f08218"><strong>SORITOR</strong></span>
              </h3> -->
              <p class="text-center">
                Para continuar, por favor regístrate con los siguientes datos:
              </p>
              <div class="mb-5">
                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Nombre(s)</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Tu nombre"
                      v-model="person.name"
                    />
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label"
                      >Apellido Paterno</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="lastname1"
                      id="lastname1"
                      placeholder="Tu apelido paterno"
                      v-model="person.lastname1"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label"
                      >Apellido Materno</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="lastname2"
                      id="lastname2"
                      placeholder="Tu apellido materno"
                      v-model="person.lastname2"
                    />
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label"
                      >Fecha de cumpleaños</label
                    >
                    <input
                      class="form-control datepicker-here required"
                      readonly
                      data-position="bottom left"
                      type="text"
                      data-language="es"
                      name="birthdate"
                      id="birthdate"
                      placeholder="¿Cuando cumples?"
                      style="
                        background: #fff
                          url(https://peru.eleckto.com/soritor/img/calendar.svg)
                          no-repeat right center;
                        color: black;
                      "
                    />
                    <!-- <input
                      type="date"
                      class="form-control"
                      name="birthdate"
                      id="birthdate"
                      placeholder="¿Cuando cumples?"
                      v-model="person.birthdate"
                    /> -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Distrito</label>
                    <select
                      class="form-control"
                      id="district"
                      v-model="person.district"
                    >
                      <option value="0" selected>Selecciona tu distrito</option>
                      <option v-for="item in config.district">{{item}}</option>
                      <!-- <option>SORITOR</option> -->
                    </select>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Ciudad</label>
                    <select
                      id="town"
                      class="form-control"
                      v-model="person.town"
                    >
                      <option value="0">¿Dónde vives?</option>
                      <option v-for="item in config.town">{{item}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 form-group mb-3">
                    <label for="" class="col-form-label">País</label>
                    <select
                      name="dial_code"
                      id="dial_code"
                      class="form-control"
                      v-model="person.country"
                    >
                      <option value="+51">🇵🇪 Perú</option>
                    </select>
                  </div>
                  <div class="col-md-8 form-group mb-3">
                    <label for="" class="col-form-label">Celular</label>
                    <input
                      type="number"
                      class="form-control"
                      name="phone"
                      id="phone"
                      placeholder="123456789 (9 Dígitos)"
                      v-model="person.phone"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label for="" class="col-form-label">Preocupación</label>
                    <select
                      id="concern"
                      class="form-control"
                      v-model="person.worry"
                      @change="openOtherWorryText"
                    >
                      <option value="0">¿Qué te preocupa más?</option>
                      <option v-for="item in config.worry">{{item}}</option>
                      <option value="other">Otro</option>
                    </select>
                    <input
                      v-show="openOtherWorry"
                      type="text"
                      class="form-control"
                      placeholder="Añade otra preocupación"
                      v-model="otherWorry"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label for="" class="col-form-label">Propuesta</label>
                    <input
                      type="text"
                      name="proposal"
                      id="proposal"
                      maxlength="200"
                      class="form-control"
                      placeholder="¿Cuál es tu propuesta?"
                      v-model="person.proposal"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Ayuda</label>
                    <div class="form-group">
                      <p>¿Cómo te gustaría sumar?</p>
                      <div
                        class="form-check"
                        style="position: relative"
                        v-for="item in config.howToHelp"
                      >
                        <input
                          class="form-check-input"
                          type="checkbox"
                          :value="item"
                          :id="item.split('').join('')"
                          v-model="person.howToHelp"
                        />
                        <label
                          class="form-check-label"
                          :for="item.split('').join('')"
                        >
                          {{item}}
                        </label>
                      </div>

                      <div class="form-check" style="position: relative">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value="1"
                          id="otherHowToHelp"
                          v-model="person.howToHelp"
                          @change="openOtherCheckbox"
                        />
                        <label class="form-check-label" for="otherHowToHelp">
                          Otro
                        </label>
                        <input
                          v-show="openOtherHowToHelpText"
                          type="text"
                          class="form-control"
                          placeholder="Añade otra opción"
                          v-model="otherHowToHelpText"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Sobre ti</label>
                    <div class="form-group">
                      <p>¿Dime algo más sobre ti?</p>
                      <div
                        class="form-check"
                        style="position: relative"
                        v-for="item in config.aboutMe"
                      >
                        <input
                          class="form-check-input"
                          type="checkbox"
                          :value="item"
                          :id="item.split('').join('')"
                          v-model="person.aboutMe"
                        />
                        <label
                          class="form-check-label"
                          :for="item.split('').join('')"
                        >
                          {{item}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-md-5 form-group text-center">
                    <button
                      class="btn btn-block btn-primary rounded-0 py-2 px-4"
                      @click="sendForm()"
                      style="background: #65170b"
                    >
                      ENVIAR
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
                <div
                  class="modal fade"
                  id="exampleModalCenter"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                          FELICIDADES
                        </h5>
                        <!-- <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button> -->
                      </div>
                      <div class="modal-body">
                        <h4>Formulario enviado con éxito</h4>
                        <p>
                          ¡Comparte este formulario con tus familiares o amigos!
                        </p>
                        <p>Copia el enlace: {{generateLink(userId)}}</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          @click="restartFrom()"
                        >
                          Cerrar
                          <i class="fa fa-xmark"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-primary"
                          @click="updatePerson(userId)"
                        >
                          Copiar enlace
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
    <!-- datepicker -->
    <link href="css/datepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="js/datepicker.min.js"></script>
    <script src="js/datepicker.es.js"></script>

    <script>
      // $('#exampleModalCenter').on('hide', function() {
      //   window.location.reload()
      // })
      // $('#exampleModalCenter').on('hide.bs.modal', function(e) {
      //   window.location.reload()
      // })

      // $('#exampleModalCenter').blur(function() {
      //   console.log('asdada')
      // })
    </script>

    <script>
      let app = new Vue({
        el: '#app',
        created() {
          const { groupId } = this.getParams()
          this.groupId = groupId
          console.log('groupId', groupId)
          
          this.listFormConfig()
          // Initialization
          // $('#cumple').datepicker([options])
          // Access instance of plugin
          $('#birthdate').data('datepicker')
          $('#birthdate').datepicker({
            autoClose: true,
          })
        },
        mounted() {
          $('#modalWelcome').modal({ show: true, backdrop: 'static' })
          // this.$refs.videoRef.src = this.config.video
          this.$refs.videoRef.play()
        },
        data() {
          return {
            data: [],
            groupId: null,
            userId: null,
            // api: 'https://ws-form.herokuapp.com/api',
            // form: 'https://ws-form.herokuapp.com',
            api: 'http://localhost:3010/api',
            form: 'http://localhost:3010',
            config: {
              istrict: [],
              town: [],
              worry: [],
              howToHelp: [],
              aboutMe: [],
              video: '',
              phrase: '',
              logo: '',
            },
            person: {
              name: null,
              lastname1: null,
              lastname2: null,
              birthdate: null,
              district: '0',
              town: '0',
              country: '+51',
              phone: null,
              worry: '0',
              proposal: null,
              howToHelp: [],
              aboutMe: [],
            },
            birthdate: '',
            otherWorry: null,
            openOtherWorry: false,

            otherHowToHelpText: null,
            openOtherHowToHelpText: false,
          }
        },
        methods: {
          openOtherWorryText() {
            if (this.person['worry'] === 'other') this.openOtherWorry = true
            else this.openOtherWorry = false
          },
          openOtherCheckbox() {
            this.openOtherHowToHelpText = !this.openOtherHowToHelpText
          },
          listFormConfig() {
            axios({
              method: 'post',
              url: `${this.api}/forms/list`,
              data: { groupId: this.groupId },
            })
              .then(({ data }) => {
                this.config = data.form
                this.$refs.videoRef.src = this.config.video
              })
              .catch((err) => {
                console.log('err', err)
              })
          },
          sendForm() {
            // this.openModal()

            //Revisamos campos otros
            if (this.openOtherWorry) this.person.worry = this.otherWorry
            if (this.openOtherHowToHelpText)
              this.person.howToHelp.push(this.otherHowToHelpText)

            //Obtenemos la fecha
            this.person.birthdate = document.getElementById('birthdate').value

            const { ref } = this.getParams()
            axios({
              method: 'post',
              url: `${this.api}/persons/create`,
              data: {
                ...this.person,
                groupId: this.groupId,
                comeFrom: ref || undefined,
              },
            })
              .then(({ data }) => {
                //   console.log(data.data)
                this.userId = data.person._id
                this.openModal()
              })
              .catch((err) => {
                console.log('err', err)
              })
          },
          openModal() {
            $('#exampleModalCenter').modal({ show: true, backdrop: 'static' })
          },
          updatePerson(id) {
            axios({
              method: 'put',
              url: `${this.api}/persons/${id}`,
              data: {
                sharedLink: true,
              },
            })
              .then(({ data }) => {
                this.copyToClipboard(this.generateLink(id))
              })
              .catch((err) => {
                console.log('err', err)
              })
          },
          generateLink(id) {
            return `${this.form}/form?ref=${id}`
          },
          copyToClipboard(str) {
            if (
              navigator &&
              navigator.clipboard &&
              navigator.clipboard.writeText
            )
              return navigator.clipboard.writeText(str)
            return Promise.reject('The Clipboard API is not available.')
          },

          restartFrom() {
            window.location.reload()
          },

          getParams() {
            return new Proxy(new URLSearchParams(window.location.search), {
              get: (searchParams, prop) => searchParams.get(prop),
            })
          },

          closeModalWelcome() {
            this.$refs.videoRef.pause()
          },
        },
      })
    </script>
  </body>
</html>
